/**
 * All your custom CSS should go into this file
 */

body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* add/edit form */
.color-red {
    color: red;
}

@media (min-width: 1200px)
{
.container {
width: 1500px;
}
}